<div class="row">
    <div>169</div>
    <div>Projects</div>
</div>

<div class="row">
    <div>169</div>
    <div>Projects</div>
</div>

<div class="row">
    <div>169</div>
    <div>Projects</div>
</div>