<div class="row fade">
    <div>169</div>
    <div>Projects</div>
</div>

<div class="row fade">
    <div>169</div>
    <div>Projects</div>
</div>

<div class="row fade">
    <div>169</div>
    <div>Projects</div>
</div>