
    <div class="menu">        
        <div id="mobile-exit" class="mobile-exit-menu">Exit</div>
        <ul>
            <li><a href="#">projects</a></li>
            <li><a href="#">contatcs</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">networks</a></li>
        </ul>
    </div>
    
    <div class="scrollwrapper">
        <div class="navbar">
            <div class="container">
                <a href="#" class="logo"><img src="img/Future_Gadget_Lab_logo.svg" alt="Future_Gadget_Lab_logo" style="width: 43.75px; height: 45.7px;"></a>
                
                <div id="mobile-cta" class="mobile-menu">Menu</div>

            </div>
        </div>

        <section class="hero">
            <div class="container--hero">
                <div class="title">
                    <h1>The Wildside</h1>
                </div>

                <button class="video-play-button">OPEN</button>
                <button class="close-video-button">CLOSE</button>

                <div id="vn-op" class="video-vn-op">
                    <video autoplay loop src="video/Pexels Videos 2716.mp4" frameborder="0" style="width: 100%; aspect-ratio: 16/9;" muted="true"></video>
                </div>
            </div>
        </section>

        <section id="second-sec" class="text-sec">
            <div class="container--sec2">
                <h2 class="sec-2-text">

                    <div class="quote-1">Welcome to 

                        <span class="sec-2-img">
                            <img src="img/static-noise.svg" alt="static noise" class="img-wrap2"
                            style="width: 60px; height: 30px;">
                        </span>

                        the Wildside.

                        <span class="sec-2-img">
                            <img src="img/static-noise.svg" alt="static noise" class="img-wrap1"
                            style="width: 60px; height: 30px;"> 
                        </span>

                        Where you can 

                        <span class="sec-2-img">
                            <img src="img/static-noise.svg" alt="static noise" class="img-wrap2"
                            style="width: 60px; height: 30px;">
                        </span>

                        find intersting information,

                        <span class="sec-2-img">
                            <img src="img/static-noise.svg" alt="static noise" class="img-wrap2"
                            style="width: 60px; height: 30px;">
                        </span>

                        photos and videos

                        <span class="sec-2-img">
                            <img src="img/static-noise.svg" alt="static noise" class="img-wrap2"
                            style="width: 60px; height: 30px;">
                        </span>

                        about different animals in various

                        <span class="sec-2-img">
                            <img src="img/static-noise.svg" alt="static noise" class="img-wrap2"
                            style="width: 60px; height: 30px;">
                        </span>

                        locations around the world.
                    </div>
                </h2>
            </div>
        </section>

        <section id="thrid-sec">
            <div class="sec-3">
    
                <div class="sec-3-img">
                    <div class="mainpic">
                        <img src="" alt="" class="p1 pen">
                        <img src="" alt="" class="p1 shark">
                        <img src="" alt="" class="p1 orca">
                        <img src="" alt="" class="p1 owl">
                        <img src="" alt="" class="p1 tiger">
                        <img src="" alt="" class="p1 turtle">
                    </div>
                    <div class="leftpic">
                        <img src="" alt="" class="p2 pen">
                        <img src="" alt="" class="p2 shark">
                        <img src="" alt="" class="p2 orca">
                        <img src="" alt="" class="p2 owl">
                        <img src="" alt="" class="p2 tiger">
                        <img src="" alt="" class="p2 turtle">
                    </div>
                    <div class="righttop">
                        <img src="" alt="" class="p3 pen">
                        <img src="" alt="" class="p3 shark">
                        <img src="" alt="" class="p3 orca">
                        <img src="" alt="" class="p3 owl">
                        <img src="" alt="" class="p3 tiger">
                        <img src="" alt="" class="p3 turtle">
                    </div>
                    <div class="rightmid">
                        <img src="" alt="" class="p4 pen">
                        <img src="" alt="" class="p4 shark">
                        <img src="" alt="" class="p4 orca">
                        <img src="" alt="" class="p4 owl">
                        <img src="" alt="" class="p4 tiger">
                        <img src="" alt="" class="p4 turtle">
                    </div>
                    <div class="rightbot">
                        <img src="" alt="" class="p5 pen">
                        <img src="" alt="" class="p5 shark">
                        <img src="" alt="" class="p5 orca">
                        <img src="" alt="" class="p5 owl">
                        <img src="" alt="" class="p5 tiger">
                        <img src="" alt="" class="p5 turtle">
                    </div>
                </div>
        
                <div class="scientific-name">
                    <h2 class="scientific-name-block">
                        <ul>
                            <li>Aptenodytes forsteri</li>
                            <li>Rhincodon typus</li>
                            <li>Orcinus orca</li>
                            <li>Tyto alba</li>
                            <li>Panthera tigris</li>
                            <li>Chelonia mydas</li>
                        </ul>
                    </h2>
                </div>
                
                <div class="civi-block">
                    <h3 class="civi-name">
                        <ul>
                            <li>Emperor Penguin</li>
                            <li>Whale Shark</li>
                            <li>Orca/Killer Whale</li>
                            <li>Barn Owl</li>
                            <li>Tiger</li>
                            <li>Sea Turtle</li>
                        </ul>
                    </h3>
                    <p class="animal-fact">
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                        </ul>
                    </p>
                </div>
        
                <div class="location">
                    <h3 class="location-name">
                        <ul>
                            <li>Antartica</li>
                            <li>Mesoamerican Reef, Coastal East Africa, Gulf of California, Coral Triangle</li>
                            <li>Antarctica, Norway, and Alaska</li>
                            <li>North America, South America, Europe, Africa</li>
                            <li>China, India, and Southwest Asia to the Indonesian island of Sumatra</li>
                            <li>Atlantic, Pacific, and Indian Oceans</li>
                        </ul>  
                    </h3>
                </div>
                
                <div class="arrowContainer">
                    <button class="arrow left">
                        prev 
                   </button>
   
                   <button class="arrow right">
                       next 
                  </button>
                </div>
            </div>
        </section>

        <section id="promote">
            <div class="makers">
                <ul class="makers-list">
                    <li><span class="number">659</span>producer</li>
                    <li><span class="number">659</span>devloper</li>
                    <li><span class="number">659</span>artists</li>
                </ul>
        
                <a href="#">
                    <h3 class="heading3-title">
                        learn more about them
                    </h3>
                </a>
            </div>
        </section>

        <section class="gallery">
            <div class="container--gall"></div>
        </section>

        <section class="footer">
            <div class="container--footer">
                <h2 class="footer-text-main">
                    elit ut aliquam <span class="roundText">sit amet luctus</span> venenatis lectus
                </h2>

                <nav class="footer-nav">
                    <ul class="footer-nav-bar">
                        <li>Twitter</li>
                        <li>Linkedin</li>
                        <li>Instagram</li>
                        <li>Facebook</li>
                    </ul>
                </nav>
            </div>
        </section>
    </div>