body{
    background: #F2F2F2;
    margin: 0;
}

.navbar{
    padding: 1em;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.logo{
    text-decoration: none;
    color: black;
}

nav{
    display: none;
}

.container{
    display: flex;
    place-content: space-between;
    align-items: center;
}

.menu{
    position: fixed;
    top: 100%;
    left:  0%;
    width: 150%;
    height: 100vh;
    background: white;
    z-index: 2;
    transition: top 1s, border-radius 1.1s ease-out;
    border-top-right-radius: 72%;
    border-top-left-radius: 72%;
}

.mobile-exit-menu{
    cursor: pointer;
    display: flex;
    align-self: flex-end;
}

.menu ul{
    opacity: 0;
    transition: opacity 2s;
    font-size: 500%;
    padding-right: 60em;
    display: flex;
    flex-flow: column nowrap;
}

.mobile-menu{
    cursor: pointer;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.hero{
    text-align: center;
    position: relative;
    padding: 0;
    padding-top: 60px;
}

.title{
    position: absolute;
    width: 100%;
}

h1{
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: .2em;
}

.sec-2-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.second-sec img{
    
}

.text-sec{
    display: flex;
    padding-top: 4.8em;
    padding-bottom: 4.8em;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    border: 0;
    font-size: 1em;
    text-align: center;
}



/*
ul.navlist{
    flex: 1;
    text-align: right;
}

ul.navlist li{
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 0.1em;
}

ul.navlist li a{
    text-decoration: none;
    color: black;
}

section{
    padding: 2em;
    text-align: center;
}

#first-sec{
    text-transform: uppercase;
}

.sec-2-img-wrap1{
    width: 75px;
    height: 49px;
    position: absolute;
    top: -3em;
    left: 0px;
}
*/