/* the animation on the button in the main section */
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* the marquee for the title */
@-moz-keyframes scroll-left{
    0%{
        -moz-animation: translate(75%);
    }
    100%{
        -moz-transform: translateX(-75%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(75%);
    }
    100% {
        -webkit-transform: translateX(-75%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(75%);
        -webkit-transform: translateX(75%);
        transform: translateX(75%);
    }
    100% {
        -moz-transform: translateX(-75%);
        -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
    }
}

@-moz-keyframes scroll-right{
    0%{
        -moz-animation: translate(-75%);
    }
    100%{
        -moz-transform: translateX(75%);
    }
}

@-webkit-keyframes scroll-right {
    0% {
        -webkit-transform: translateX(-75%);
    }
    100% {
        -webkit-transform: translateX(75%);
    }
}

@keyframes scroll-right {
    0% {
        -moz-transform: translateX(-75%);
        -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
    }
    100% {
        -moz-transform: translateX(75%);
        -webkit-transform: translateX(75%);
        transform: translateX(75%);
    }
}
