@media screen and (max-width: 1024px){
    .mobile-cta{
        opacity: 0;
    }

    .normalMenu{
        opacity: 0;
    }

    .mobile-menu{
        opacity: 1;
    }

    .sec-3 div:not(.mainpic){ display:none }
    .arrow{ display: none }
    
}