@media screen and (max-width: 1020px){
    /* the navbar at the top of the screen*/
    .mobile-cta{
        opacity: 0;
    }
    .normalMenu{
        opacity: 0;
    }
    .mobile-menu{
        opacity: 1;
    }
    .navbar{
        width: 100vw;
    }
    .menu{
        width: 90vw;
    }

    /* the hero section*/
    .container--hero{
        height: 100vh;
    }
    .titlecontainer{
        width: 100vw;
    }
    .title{
        font-size: 2rem;
        padding: 0;
    }
    .video-container{
        right: 50%
    }
    video{
        height: 100vh;
    }

    /* section 2 with the text and images together*/
    #second-sec{
        width: 70%;
    }

    /* section 3 with the images and information on the images*/
    .sec-3{
        grid-template: .5fr 4fr /  1fr 1fr 1fr;
    }
    .sec-3 div:not(.mainpic){ display:none }
    .mainpic{
        grid-area: 2 / span 3;
    }
    .scientific-name-block{
        grid-area: 1 / 2;
    }
    .civi-name{display: none;}
    .animal-fact{display: none;}
    .location-name{display: none;}
    .arrow{ display: none }
    
    /* projects section*/ 
    .row{
        padding-bottom: 3rem;
        padding-top: 2rem;
        width: 30%;
    }
    .row div:nth-child(odd){
        padding-right: 6rem;
        font-size: 5rem;
    }
    .heading3-title{
        font-size: .75rem;
    }

    /* gallery section*/
    .randomgallcontainer{
        width: 100%;
        overflow: hidden;
    }
    .randomgallcontainer img:not(:nth-child(3)){
        display: none;
    }
}